pkgbase = grpc-git
	pkgdesc = A high performance, open source, general RPC framework that puts mobile and HTTP/2 first.
	pkgver = 1.18.0.r0.ga9cb80fef7
	pkgrel = 1
	url = https://grpc.io/
	arch = i686
	arch = x86_64
	license = BSD
	depends = c-ares
	depends = openssl-1.0
	depends = protobuf>=3
	provides = grpc
	conflicts = grpc
	source = grpc-git::git+https://github.com/kyechou/grpc.git
	md5sums = SKIP

pkgname = grpc-git

